.cell {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell-content {
  display: flex;
  flex-direction: col;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.number-input {
  width: 14px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18pt;
}
